.main-container {
    display: flex;
    margin: auto;
    max-width: 100%;
    padding: 0 1rem;
  }

  /* Hide scrollbar in Chrome, Safari, Opera using the ::-webkit-scrollbar pseudo-element */
.main-container::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar in IE, Edge, Firefox by removing scrollbar style */
  .main-container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }

@media (min-width: 640px) {
  
    .containercustommaxwidth {
      max-width: 640px;
    }
  }
  
  @media (min-width: 768px) {
    .containercustommaxwidth {
      max-width: 768px;
    }
  }
  
  @media (min-width: 1024px) {
    .containercustommaxwidth {
      max-width: 1024px;
    }
  }
  
  @media (min-width: 1280px) {
    .containercustommaxwidth {
      max-width: 1280px;
    }
  }
  